.translation-area > span{
    position: absolute;
    width: 50px;
    height:50px;
}

.linear {
    transition: left 1s linear, background-color 1s linear, transform 1s linear;
}
.ease-in {
    transition: left 1s ease-in, background-color 1s ease-in, transform 1s ease-in;
}
.ease-out {
    transition: left 1s ease-out, background-color 1s ease-out, transform 1s ease-out;
}
.ease-in-out {
    transition: left 1s ease-in-out, background-color 1s ease-in-out, transform 1s ease-in-out;
}
/*cubic-bezier(.17,.67,.83,.67)*/
.animated{
    left: 0;
    background: #1213AB;
}

.translate-x:hover .animated{
    left: calc(100% - 70px);
    background-color: #FF1212;
}


